*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink-color: #C30044;
    --light-pink-color: #FF8FB0;
    --green-color: #004D40;
    --blue-color: #4DB6AC;
    --gray-color: #e0e0e0;
    --font-color: #212121;
    --background-color: #FFFFFF;
    --title-font: "Quicksand",sans-serif;
    --details-font: "Parisienne", cursive;
    --text-font: "Mulish", sans-serif;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    height: fit-content;
    margin: auto;
    background-color: var(--background-color);
    background-image: radial-gradient(circle, var(--gray-color) 0.060rem, rgba(0, 0, 0, 0) 0.060rem);
    background-size: 0.7rem 0.7rem;
}


header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.125rem;
        height: 80px;
        background-color: var(--background-color);
        border: 1px solid var(--font-color);
        border-radius: 60px;
        margin: 2vh 9vh 2vh 9vh;
}

nav{
    font-family: var(--title-font);
    flex: 1;
    margin-left: 3vh;
    margin-right: 3vh;
    .nome{
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--pink-color);
    }
    .proj_cont {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        cursor: pointer;

        li{
            font-weight: 500;
            font-size: 1.25rem;
            color: var(--font-color);
            &:hover{
                color: var(--pink-color);
            }
        }
    }
}