*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink-color: #C30044;
    --light-pink-color: #FF8FB0;
    --green-color: #004D40;
    --blue-color: #4DB6AC;
    --gray-color: #dadada;
    --font-color: #212121;
    --background-color: #FFFFFF;
    --title-font: "Quicksand",sans-serif;
    --details-font: "Parisienne", cursive;
    --text-font: "Mulish", sans-serif;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--title-font);
    font-size: 1rem;
    font-weight: 400;
    background-image: radial-gradient(circle, var(--gray-color) 0.063rem, rgba(0, 0, 0, 0) 0.063rem);
    background-size: 1rem 1rem;

    
    header{
        border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.125rem;

        nav{
            border: 1px solid greenyellow;
            font-size: 1.125rem;
            flex: 1;
            ul{
                display: flex;
                gap: 1.25rem;
                justify-content: center;
                cursor: pointer;

                li{
                    font-weight: 500;

                    &:hover{
                        color: var(--pink-color);
                    }
                }
            }
        }
    }
}